<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd ">

    <context:annotation-config/>

    <import resource="jpaContext.xml"/>

    <bean id="userDAO"        class="ru.classcard.dao.UserDAOImpl"/>
    <bean id="cardDAO"        class="ru.classcard.dao.CardDAOImpl"/>
    <bean id="operationDAO"   class="ru.classcard.dao.CardOperationDAOImpl"/>
    <bean id="mccCodeDAO"     class="ru.classcard.dao.MccCodeDAOImpl"/>

    <bean id="authService"    class="ru.classcard.services.auth.AuthServiceImpl"/>
    <bean id="accessService"  class="ru.classcard.services.access.AccessService"/>
    <bean id="expenseService" class="ru.classcard.services.operations.ExpenseService"/>
    <bean id="uploadService"  class="ru.classcard.services.operations.OperationsUploadService"/>

</beans>