.title_image_size {
    width: 80px;
    height: 80px;
}

.loginPanel {
    width: 350px;
    border-radius: 8px;
    border-color: #BBBBBB;
    display: inline-block;
    text-align: center;
    border-width: 1px !important;
    box-shadow: 0px 0px 18px 0px #7f7f7f;
}

.centerLayer {
    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Положение слоя от левого края */
    top: 20%; /* Положение слоя от верхнего края */
    margin-left: -170px; /* Отступ слева */
    margin-top: -100px;	/* Отступ сверху */
    padding: 10px; /* Поля вокруг текста */
}

.login-title-text, .login-title-text .ui-widget  {
    font-size: 25px;
    color: #4ea31e;
    vertical-align: 15px;
    font-family: 'Open Sans Regular', 'Open Sans'
}

.login-value {
    width: 218px;
    float: left;
}

html {
    background: url("#{resource['default:images/login_back.jpg']}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}