.master-layout-div {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
    width: 1170px;
}

#content, #header {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    box-shadow: 0px 0px 10px 0px #7f7f7f;
}

body {
    background: #f0f0f0 repeat-x scroll left top;
    background-size: auto;
    width: 100%;
    margin: 0px;
    text-align: left;
}

.footer {
    padding: 10px;
    clear: left;
    background-color: #CCCCCC;
    opacity: 0.5;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 10px 0px #7f7f7f;
}
