/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("#{resource['fonts/open-sans-regular.eot']}");
    src: local('Open Sans'), local('OpenSans'),
    url("#{resource['default:fonts/open-sans-regular.eot?#iefix']}") format('embedded-opentype'),
    url("#{resource['default:fonts/open-sans-regular.woff2']}") format('woff2'),
    url("#{resource['default:fonts/open-sans-regular.woff']}") format('woff'),
    url("#{resource['default:fonts/open-sans-regular.ttf']}") format('truetype'),
    url("#{resource['default:fonts/open-sans-regular.svg#OpenSans']}") format('svg');
}

/**
* Элементты input, label
*/
.ui-outputlabel {
    background-color: white;
    font-style: normal;
    color: #666666;
}

input.ui-inputfield, textarea.ui-inputfield, div.ui-selectonemenu {
    border: solid 1px #cccccc;
    background-color: white;
    margin: 2px 10px;
    font-style: normal;
    color: #333333;
}

label.ui-selectonemenu-label {
    text-align: left !important;
}

input.ui-inputfield[readonly='readonly'], input.ui-inputfield[readonly],
textarea.ui-inputfield[readonly='readonly'], textarea.ui-inputfield[readonly] {
    background-color: #cccccc;
    color: #666666;
}


/*Кнопки -
    сделать неактивной - добавить класс disabled,
    кнопка отмены - класс cancel-button
    кнопка основного действия - main-button
    */
.ui-button {
    height: 27px !important;
    font-size: 16px !important;
    color: rgb(255, 255, 255) !important;
    margin: 2px 10px !important;
    background-color: rgb(54, 152, 30) !important;
    top: 2px;
}

.ui-button-text-only .ui-button-text {
    padding: 0px 20px !important;
    vertical-align: middle;
}

.ui-button:hover {
    background-color: rgb(39, 112, 22) !important;
}

.ui-button.ui-state-disabled {
    background-color: rgb(155, 205, 143) !important;
}

.ui-button.cancel-button {
    background-color: rgb(102, 102, 102) !important;
}

.ui-button.cancel-button:hover {
    background-color: #333333 !important;
}

.ui-button.cancel-button.ui-state-disabled {
    background-color: rgb(179, 179, 179) !important;
}

.ui-button.main-button {
    background-color: rgb(245, 151, 36) !important;
}

.ui-button.main-button:hover {
    background-color: rgb(220, 126, 10) !important;
}

.ui-button.main-button.ui-state-disabled {
    background-color: rgb(250, 203, 146) !important;
}

/* Гриды*/
.ui-datatable-tablewrapper thead .ui-state-default {
    background-color: rgb(54, 152, 30);
}

.ui-datatable-tablewrapper .ui-button {
    margin: 2px 0px !important;
    margin-right: 10px !important;
}

.ui-widget-content .ui-outputlabel {
    background: none !important;
}

.ui-widget-content {
    border-width: 0px;
}


.ui-column-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: 2px 2px;
}

.ui-sortable-column-icon {
    background-color: white;
}

input.ui-column-filter {
    background-color: white !important;
}


.ui-calendar.ui-column-filter input {
    margin-left: -30px;
    background-color: white !important;
    width: 150px;
}

.ui-slider-handle {
    border: solid 1px rgb(102, 102, 102) !important;
    background-color: rgb(54, 152, 30) !important;
}

.ui-datatable-even {
    background-color: rgb(245, 245, 245);
}

.ui-datatable-header {
    background: rgb(155, 205, 143);
    color: white;
    font-size: 16px;
}

.ui-datatable-selectable:hover, .ui-datatable-selectable.ui-state-highlight {
    background: rgb(245, 151, 36);
    color: white;
}

/* tab*/
.ui-tabs-nav .ui-state-default {
    font-size: 15px;
}

.ui-tabs-nav .ui-state-default:hover, .ui-tabs-nav .ui-state-active {
    background: rgb(245, 151, 36);
}

.ui-tabs-nav .ui-state-default:hover a, .ui-tabs-nav .ui-state-active a {
    color: white;
}


/* select-box*/
.ui-selectcheckboxmenu-label {
    background-color: white;
}

.ui-selectcheckboxmenu-trigger {
    background-color: white !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
    padding-right: 15px;
    padding-bottom: 5px;
}


/* панель, очень много только для модального окна*/
.ui-panel-titlebar {
    text-align: center;
    background: #36981E;
}


thead.ui-panelgrid-header td {
    text-align: center;
    background: rgb(155, 205, 143);
}

.ui-panel-title {
    height: 30px;
    clear: both;
}

.ui-dialog {
    margin-top: 70px;
    max-height: 700px !important;
    overflow:auto;
}

.ui-dialog, .ui-dialog .ui-panel {
    width: 600px;
}

.ui-panel-title .ui-outputlabel {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.ui-panel-footer {
    height: 34px;
}

.ui-dialog .ui-panel-content {
    display: table;
}
.ui-dialog .ui-panel-content label {
    text-align: right;
    float: left;
}

.ui-dialog .ui-panel-content input, .ui-dialog .ui-panel-content textarea, .ui-dialog .ui-panel-content .ui-messages {
    float: left;
}

.ui-dialog .ui-panel-footer .main-button {
    float: left;
}

.ui-dialog .ui-panel-footer .cancel-button {
    float: right;
}

/*чекбокс*/
.ui-chkbox {
    height: 20px;
    width: 20px;
    border: solid 1px #cccccc;
    background-color: white;
    border-radius: 2px;
}

.ui-chkbox-box {
    height: 20px;
    width: 20px;
    border: none;
    background-color: white;
    border-radius: 2px;
}

.ui-chkbox .ui-chkbox-box {
    height: 20px;
    width: 20px;
    border: none;
    background-color: white;
    border-radius: 2px;
}

.ui-chkbox-icon.ui-icon {
    width: 14px;
    height: 14px;
    border: none;
    background-image: none;
    background-position: center;
}

.ui-chkbox-icon.ui-icon-check {
    width: 14px;
    height: 14px;
    border: none;
    margin: 3px;
    background-color: rgb(245, 151, 36);
    background-image: none;
    border-radius: 2px;
}

.ui-datepicker-header {
    background: rgb(155, 205, 143);
}

.ui-datepicker td span, .ui-datepicker td a  {
    border-color: white;
    text-align: center;
    vertical-align: middle;
}

.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default {
    border-color: white;
    text-align: center;
    vertical-align: middle;
}

.ui-datepicker-today .ui-state-highlight, .ui-datepicker-today a.ui-state-default.ui-state-highlight.ui-state-active {
    background-color: rgb(245, 151, 36);
    color: white;
}

.ui-datepicker-current-day .ui-state-active  {
    border: 1px solid #fbd850;
    color: rgb(245, 151, 36);
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}
.right {
    float: right;
}

.left {
    float: left;
}


.clear {
    clear: both;
    display: table-cell;
}


.label-small {
    width: 50px;
}

.value-small {
    width: 150px;
}

span.value-small input {
    width: 150px;
}

div.value-small {
    width: 132px;
}

.value-large {
    width: 350px;
}


.calendarFilter.ui-calendar.ui-column-filter input {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.calendarFilter-date.ui-calendar.ui-column-filter input {
    width: 75px !important;
}

.calendarFilter-time {
    width: 142px !important;
}

.calendarFilter-time.calendarFilter-time.ui-calendar.ui-column-filter input {
    width: 124px !important;
}

.calendarFilter-hour.calendarFilter-hour.ui-calendar.ui-column-filter input {
    width: 90px !important;
}

.ui-menu-dynamic .ui-menuitem .ui-menuitem-text {
    color: #666666; !important;
    font-size: 13px; !important;
}

.copyright {
    font-size: 13px;
}

.images{
    display:inline-block;
    width:25px;
    height:auto;
    float: left;
    overflow:hidden;
    vertical-align:top
}

.data-table-header-image {
    width: 20px;
    height: 20px;
}

.ui-datatable tbody td span.wrap {
    word-wrap: break-word;
}

.ui-datatable tbody td {
    border:none;
    height:30px;
}

div.ui-paginator.ui-paginator-bottom {
    border:none;
}

.ui-state-default, .ui-widget-header, .ui-panel-footer {
    border-color:#BBBBBB!important;
}

.cardInfo.ui-panelgrid>*>tr,
.cardInfo.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.cardInfo{
    position: relative;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-datepicker-header a.ui-datepicker-prev,
.ui-datepicker-header a.ui-datepicker-next {
    display: none;
}

.cardNumber{
    position: absolute;
    top:140px;
    left:40px;
    color:#eeeeee;
    font-weight:bold;
    font-size:14px;
}

.cardBalance-container {
    width:190px;
    padding-right:0px;
}

.cardBalance-cell {
    width: 100%;
    padding-top:70px;
}

.cardBalance {
    font-size:20px!important;
    display: block;
    width:100%;
    margin-left: -12px;
    color: rgb(80, 170, 70);
}

.cardBalance-title {
    font-size:17px!important;
    display: block;
    width:100%;
    margin-left: -12px;
    color: rgb(120, 120, 120);
}

.div-custom-calendar {
    position: absolute;
    float: right;
    height: 30px;
    z-index: 3;
    right: 330px;
}

.custom-calendar {
    border: none;
    position: absolute!important;
    top:2px;
    left:50px;
}

.ui-datepicker-header {
    background-color:rgb(54, 152, 30) !important;
    height:20px;
}

.customNavLeft {
    position: absolute!important;
    top:3px;
    border:none;
}

.customNavRight {
    position: absolute!important;
    top:3px;
    border:none;
    left:268px;
}

div.card-tabs ul.ui-tabs-nav {
    padding-left:32px!important;
}

div.target-tabs.ui-tabs-right ul.ui-tabs-nav {
    padding-left:0px!important;
}

.tabs-like-buttons-right {
    border-left:1px solid #BBBBBB!important;
    border-radius: 2px;
    margin-top: 2px !important;
}

div.target-tabs.ui-tabs.ui-tabs-right > .ui-tabs-nav {
    width:20%;
}

div.target-tabs.ui-tabs.ui-tabs-right > .ui-tabs-panels {
    width: 79%;
}


.card-logo {
    padding-left:6px!important;
}

.valign-top {
    vertical-align: top;
}

.card-expense-graph-cell{
    box-shadow: inset 5px -10px 0px 20px rgba(255,255,255,1);
    z-index:2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.card-expense-graph {
    width:610px;
    height:280px;
    z-index:1;
}


/* hide the icons in the file upload button bar */
.ui-fileupload-buttonbar .ui-icon {
    display: none;
}

/* adjust the padding of all buttons inside the file upload button bar */
.ui-fileupload-buttonbar .ui-button-text-icon-left .ui-button-text {

    padding: 0 0.5em;
}

/* unstyle the file upload button bar background */
.ui-fileupload-buttonbar.ui-widget-header {
    background-color: transparent;
    border: 0 none;
}

/* remove the border of file upload content list */
.ui-fileupload-content {
    border: 0 none;
}

.jqplot-series-canvas {
    background:#ffffff;
    border:none;
}

.jqplot-target {
    color:#efefef !important;
    font-size:13px;
}

table.jqplot-table-legend {
    border-color:#BBBBBB!important;
    border-radius: 4px;
    padding: 7px;
    font-size:11px;
    color:#777777!important;
}

.in-panel-header-label {
    font-size:15px!important;
    margin-left:50%;
}

.in-panel-header-div {
    width:100%;
    height:30px;
}

li.ui-state-default.ui-corner-top {
    box-shadow: 0px -3px 2px 0px #DDDDDD;
}

button:focus {
    outline: none;
}

span.ui-icon.ui-button-icon-left {
    background-image: url("#{resource['default:images/ui-icons_ffffff_256x240.png']}")!important;
}

span.ui-icon.ui-button-icon-right {
    background-image: url("#{resource['default:images/ui-icons_ffffff_256x240.png']}")!important;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px;
}

table.inner-panel-grid td{
   background-color: #EEEEEE !important;
}

.ui-datatable.headless thead {
    display: none;
}

.target-params-div {
    padding-top: 12px;
    margin: -10px 3px 3px;
    display: inline-block;
    width: 32%;
    text-align: center;
    height: 63px;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #FEFFFE;
    box-shadow: 0px 3px 2px 0px #DDDDDD;
}

.target-required {
    color: #4095cc;
}

.target-income {
    color: #50aa46;
}

.target-expense {
    color: #bf5f55;
}

.ui-datatable-odd.student-row-has-income{
    background-color: #FBFFF9;
}

.ui-datatable-odd.student-row-no-income{
    background-color: #FFFBFB;
}
.ui-datatable-even.student-row-has-income{
    background-color: #F6FAF6;
}

.ui-datatable-even.student-row-no-income{
    background-color: #FAF6F6;
}


/*Чтобы кастомные фильтры в заголовках таблиц не растягивали шапку*/
.ui-column-customfilter {
    margin-top:-18px;
}
